/* Google font poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1321px;
    height: 646px;
    margin-top: 60px;
}
    /*-------------------------------start banner----------------------  */
.Banner{
    background: #161616;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.Banner-info{
    width: 531px;
    height: 424px;
    margin-left: 106px;
    margin-top: 111px;
    margin-bottom: 111px;
}
.banner-detail {
    width: 506px;
    height: 78px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0;
}
.Banner-info .title{
    font-size: 70px;
    margin-bottom: 0px;
    font-weight: 700px;
    line-height: 80px;
    color: white;

}

.Banner-img img{
    width: 581px;
    height: 613px;
    margin-top: 30px;
}
.banner-button{
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
button .fa-solid{
    margin-left:10px;
}
/*-------------------------------end banner----------------------  */

/* ------------------------------start blog -----------------------*/
.blog-index{
    margin-top: 10px;
    margin-right: 5px;
    width: 312px;
    height: 312px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}
.index-blog{
    font-weight: 500;
    font-size: 20px;
    width: 252px;
    height: 64px;
    margin: 15px 30px;
    padding: 17px 39px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}
.blogs{
    display: flex;
}
.blog-index .fixed{
    background-color: red;
}
.blog-img img{
    width: 312px;
    height: 175px;
}
.blog-icon{
    display: flex;
    align-items: center;
    margin-left:0;
}
.blog-icon .clock, p{
    margin-left: 30px;
}

.blog-icon p{
    margin-left:10px;
}
.blog-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0;
    margin: 0;
}
.blog-post{


    width: 312px;
    height: 362px;
    margin: 10px;
   
    border-bottom: 2px solid silver;
    border-right: 2px solid silver;
    border-left: 2px solid silver;
    border-radius: 10px;
}
.blog-info h3{
    margin-bottom: 0;
}
.blog-button{
    padding: 6px 12px;
    border-radius: 5px;
    margin-left:0px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
}
.blog-detail{
    padding:10px;

}
.smart-clock{
        margin-left: 0px;
}

/* ------------------------------end blog-------------------------- */

/* start footer  */



/* end footer  */